<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Review {{ "Approved" if approved else "Denied" }} - CIF Lab Account Request</title>
</head>

<body>
  <h1>{{ "Approved" if approved else "Denied" }} request from {{ first_name }} {{ last_name }}</h1>

  <p>
    Send an email to the applicant to update them on the status of their
    request: <a href="{{ mailto_link }}">Draft email</a>
  </p>

  <p>
    {% if next_request_id %}
    <a href="/review/{{ next_request_id }}">Next request</a>
    {% else %}
    All done, no more requests to review! 🥳
    {% endif %}
  </p>
</body>

</html>
